body{
  margin: 0;
  background-color: #0a0a0f;
  color: #f4f1ec;
  font-family: "Kumbh Sans";
}

@font-face {
    font-family: "Custom Font";
    src: url("../assets/tan-pearl.otf") format("opentype");
}
